.btn-light {
    border-radius: 0.4375rem;
    background: rgba(255, 255, 255, 0.15);
    border-style: none;
    color: #fff;
  }
  
  .btn-light:hover {
    background: rgb(255, 255, 255);
  }
  .btn-light:focus {
    background: rgb(255, 255, 255);
  }